*{
    margin:0;
    padding:0;
}
body{
    background-color: beige;
}
#navbar{
    background-color:black;
    display:flex;
    height:15 vw;
}
#navbar img{
    width:5vw;
    height:5vw;
    border:whitesmoke solid 2px;
    border-radius: 50%;
    box-shadow:1px 1px 5px 5px rgb(131, 131, 131);
    margin:2vh 1vw;
}
#navbar ul{
    color:white;
   display:flex;
}

#navbar span{
    color:antiquewhite;
    font-family: cursive;
    margin: 3vh 1.5vw;
    font-size: 2vw;
}
#navbar li{
    margin:3vh 1vw;
    font-size: 2vw;
}
#navbar li:hover{
    color:aqua;
    cursor: pointer;
}
#foot{
    background-color: black;
    height:10vh;
    width:100vw;
    position: fixed;
    color:white;
}
#foot input{
    display:block;
    width:80vw;
    margin:auto auto;
}
#icons{
    display:inline-block;
    margin:1vh 25vw;
    }
#icons i{
    color: white;
   margin:0 5vw;
    cursor:pointer;
    width:1.5vw;
    height: 1.5vh;
}
#icons i:hover{
    color:rgb(85, 85, 255);}

#icons i:active{
    color:rgb(147, 13, 180);
}
#content{
    height:72vh;
}
#beech{
    background-image: url('back1.webp');
    height: 68vh;
    width:80vw;
    margin:auto;
    margin-top: 4vh;
    border-radius:2vw;
    background-repeat: no-repeat;
    background-size: cover;
    color:antiquewhite;
    display:grid;
    grid-template-areas: 'list current';
}
#list{
    width:50vw;
    padding:1vh 1vw;
    grid-area:list;
}
.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 219, 183);
    border: rgb(37, 255, 66) 2px solid;
    border-radius:35px;
    padding:0 0.5vw;
    font-size: 1.25vw;
    margin-top:1.5vh;}
.listItem img{
    border:2px black solid;
    border-radius: 50%;
    width:4vw; 
    height:4vw;
}
.listItem span{
    color:black;
    font-family: cursive;
    font-weight: bold;
}
.listItem:hover{
    cursor:pointer;
    background-color: rgb(164, 4, 204);
}
.playItem{
    background-color: rgb(58, 62, 252);
    box-shadow: 1px 1px 5px 5px beige;
    cursor:pointer;
}
.playItem img{
    height:6vw;
    width:6vw;
}
.playItem span{
    color:white;
    font-size:1.3vw;
}
#gif{
    height:10vh;
    width:15vw;
    text-align: center;
    transition: all 1s ease-in-out;
    border:2px white solid;
}
#currentSong{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area:current;
    align-items:center;
    grid-gap:3vh;
}
#currentImage img{
    height:10vw;
    width:10vw;
    border-radius:50%;
    border:black 1.5px solid;
    box-shadow: 1px 1px 4px 4px whitesmoke;
}
#currentName{
    text-align: center;
    color:azure;
    font-size: 2vw;
}
#currentSinger{
    text-align: center;
    color:azure;
    font-size:2vw;
}
#timeStamp{
    background-color: black;
    width:10vw;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
}
#progress{
    transition: all 0.3s ease-in;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}
#progress:hover{
    box-shadow: 1px 1px 2px 2px lightblue;
}
#list1{
    overflow-y: scroll;
    height:61vh;
    }